<!DOCTYPE html>
<html>
	<body>
		<p>El numero de preguntas totales es: <%= noPreguntas %></p>
		<p>El numero de comentarios es: <%= noComentarios %></p>
		<p>El numero de comentarios por pregunta es: <%= noComPreg %></p>
		<p>El numero de preguntas sin comentarios es: <%= noPregSin %></p>
		<p>EL numero de preguntas con comentarios es: <%= noPregCon %></p>
	</body>
</html>		